
            <!-- <img src="assets/profile-head.jpg"> -->

  <app-navbar></app-navbar>
         <!--  -->
 <header class="main-header">

    <!-- Full Page Intro -->
    <div class=" jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('assets/profile-head.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-12 text-center text-white">
              <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp">MONEY MINE</h1>
              <h3 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
                  Privacy Policy </h3>
              <h6 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
                  This privacy for Money Mine is powered by privacy policies.com </h6>

            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>

  </header>
  <!-- Main navigation -->


  <!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h6 class="card-title"><strong></strong></h6>
      <!-- Subtitle -->
      <!-- Text -->
      <p class="card-text">This page informs you of our policies regarding the collection,
         use and disclosure of personal
         data when you use our services and the choices you have associated with that data.
      </p>

      <h6 class="card-title"><strong>When you use your data to provide and improve the service; </strong></h6>
      <p class="card-text">
          by using the service, you agree to the collection and use of information
          in accordance with this policy. Unless otherwise defined in this privacy policy.
      </p>
      <h6 class="card-title"><strong>Information collection and use; </strong></h6>
      <p class="card-text">
          we collect several different types of information for various purposes to provide and improve our service to you. These dates
           include personal data such as your name, date of birth, nationality, email, phone, contact address etc.
      </p>
      <p class="card-text">
          The terms used in this privacy policy have the same meaning as in our Terms and Conditions.
      </p>
      <p class="card-text">
          This site uses cookies and data usage is at the expense of the user.
      </p>


    </div>

  </div>
  <!-- Card -->
<app-footer></app-footer>
