<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Frequently ask questions</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a routerLink="/" class="btn btn-primary">Home page</a>
    </div>
    <div class="card-footer text-muted">

    </div>
  </div>

  <div class="card">
      <div class="card-body">
        How can i open account?
      </div>
    </div>
  <div class="card">
      <div class="card-body">
        How do i check the status of my application?
      </div>
    </div>
  <div class="card">
      <div class="card-body">
        How do i found my account?
      </div>
    </div>
