<app-navbar></app-navbar>

<!-- header -->
<div class="jumbotron card card-image mb-5" style="background-image: url(../../assets/new_pics/background-cement.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title text-dark h1-responsive pt-3 mr-5 mb-5 font-weight-bold">
        <i class="fa fa-question fa-lg text-success m-2"></i>FAQ</h2>
      <p class="mx-5 mb-5 text-dark font-weight-bold">
      </p>
      <a [routerLink]="['/']" class="btn btn-outline-dark btn-md"><i class="fas fa-home left"></i> HOME</a>
    </div>
  </div>
</div>
<!-- end header -->

<!-- questioning... -->

<div class="body">
  <div class='centerplease'>
    MONEY MINE Frequently Asked Questions
  </div>
  <br>

  <div class="content">
  <div>
    <input type="checkbox" id="question1" name="q"  class="questions">
    <div class="plus">+</div>
    <label for="question1" class="question">
      How do I earn from Money mine?
    </label>
    <div class="answers">
      You can earn from money mine as an investor.

    </div>
  </div>

  <div>
    <input type="checkbox" id="question2" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question2" class="question">
      How do I become an Investor?
    </label>
    <div class="answers">
      You become an investor by an creating <a [routerLink]="['/register']" > account</a> with money mine.
    </div>
  </div>

  <div>
    <input type="checkbox" id="question3" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question3" class="question">
      What is the minimum capital requirement?
    </label>
    <div class="answers">
      The minimum requirement for an investor to invest is hundred thousand
    </div>

  </div>
    <div>
    <input type="checkbox" id="question4" name="q" class="questions">
    <div class="plus">+</div>
    <label for="question4" class="question">
      How do I withdraw my earnings?
    </label>
    <div class="answers">
      Earnings at money mine are sent directly to the account details provided on the platform.
    </div>
  </div>
  </div>
  </div> <!-- end of body !-->

  <div class="footer">
    <ul class="contact">

      <!-- <li> <a  href="mailto:swagasoft@gmail.com?Subject= money mine contact us" target="_top">E-mail Us</a> </li> -->

    </ul>

<!-- end questioning... -->



    <app-footer></app-footer>
