<div class="container-fluid main">
    <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner" role="listbox">
        <div class="item active background a"></div>

      </div>
    </div>

    <div class="covertext">
      <div class="col-lg-10" style="float:none; margin:0 auto;">
        <h1 class="title text-dark">MONEY MINE</h1>
        <h3 class="subtitle text-dark"> 15% returns on investment...</h3>
      </div>
      <div class="col-xs-12 explore">
        <a [routerLink]="['/login']" ><button type="button" class="btn btn-lg explorebtn">EXPLORE</button></a>
      </div>
    </div>

  </div>
