


  <!-- material design login -->
  <div class="card main-login border-primary mb-3 " style="padding-bottom: 50px;
  align-content: center; margin-top: 70px;">
      <h3 class="card-header text-center"><strong>CONFIRM ACCOUNT</strong> </h3>
      <div class="card-body text-primary">

  <div class="example-container text-dark">
      <mat-form-field>
       <input matInput type="password" name="password" value=""
                 id="password"
                placeholder="Past the link sent to your mail." >
      </mat-form-field>

          <a mat-button [routerLink]="['/']" routerLinkActive="router-link-active"  type="submit"
          style="width: 100px; background-color:rgb(4, 114, 53); color:white;
          border-radius: 7px;"
          > <i class="fa fa-success md-24"></i> homepage </a>

    </div>
      </div>
    </div>





