
table{
  border:1px solid black;
  border-collapse:collapse ;
padding:0px;
}

th{
  padding:10px;
  border:1px solid black;


}

td{
  padding:10px;
   border:1px solid black;
text-align:left;
}

tr:nth-child(even)
{
    background-color:white;
}

tr:nth-child(odd)
{
    background-color:#eee;
}
.router-link-active{
  background-color: rgb(252, 211, 162);

}
li{
  font-weight: bold;
}
