/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  /* background: url(/img/banner/home-banner.jpg) no-repeat scroll center center; */
  background-size: cover; }
  .home_banner_area .banner_inner {
    overflow: hidden;
    width: 100%;
    padding: 300px 0px 300px 0px; }
    .home_banner_area .banner_inner .banner_content {
      color: #fff; }
      .home_banner_area .banner_inner .banner_content .col-lg-9 {
        vertical-align: middle;
        align-self: center; }
      .home_banner_area .banner_inner .banner_content h2 {
        font-size: 48px;
        font-weight: bold;
        font-family: "Heebo", sans-serif;
        line-height: 60px;
        text-transform: uppercase;
        margin-bottom: 15px; }
      .home_banner_area .banner_inner .banner_content p {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        max-width: 565px;
        margin-bottom: 40px;
        line-height: 26px;
        font-size: 16px; }
      .home_banner_area .banner_inner .banner_content .banner_map_img {
        text-align: right; }

.blog_banner {
  min-height: 780px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px; }
  .blog_banner .banner_inner {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px;
    z-index: 1; }
    .blog_banner .banner_inner .overlay {
      background: url(../../assets/pile_of_money-1920x1200.jpg) no-repeat scroll center center;
      opacity: .5;
      height: 125%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: -1; }
    .blog_banner .banner_inner .blog_b_text {
      max-width: 700px;
      margin: auto;
      color: #fff;
      margin-top: 40px; }
      .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 60px;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        line-height: 66px;
        margin-bottom: 15px; }
      .blog_banner .banner_inner .blog_b_text p {
        font-size: 16px;
        margin-bottom: 35px; }
      .blog_banner .banner_inner .blog_b_text .white_bg_btn {
        line-height: 42px;
        padding: 0px 45px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 400px;
  background: #000; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 400px;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      background: url(../../assets/litecoin-mining.jpg) no-repeat scroll center center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 125%;
      bottom: 0;
      z-index: -1;
      opacity: .5; }
    .banner_area .banner_inner .banner_content {
      margin-top: 85px; }
      .banner_area .banner_inner .banner_content h2 {
        color: #fff;
        font-size: 48px;
        font-family: "Heebo", sans-serif;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-weight: 700; }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 16px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        margin-right: 32px;
        font-weight: normal;
        position: relative; }
        .banner_area .banner_inner .banner_content .page_link a:before {
          content: "\e87a";
          font-family: 'Linearicons-Free';
          font-size: 14px;
          position: absolute;
          right: -25px;
          top: 50%;
          transform: translateY(-50%); }
        .banner_area .banner_inner .banner_content .page_link a:last-child {
          margin-right: 0px; }
          .banner_area .banner_inner .banner_content .page_link a:last-child:before {
            display: none; }
            .jumbotron{
              background-image: url(../../assets/investment-background.jpg);

            }
            .feature_inner{
              margin-bottom: 30px;
              margin-top: 30px
            }
            .feature_item{
              margin-left: 70px;
            }
