

      <!--================Home Banner Area =================-->
      <!-- <div class="jumbotron text-white">
          <h1 class="display-4 "><strong> Money mine</strong> </h1>
          <h6 class="lead">Join over 500000 people with the world’s leading hashpower provider</h6>
          <hr class="my-4">
          <p>It’s super simple - Your mining rigs are already set up and running.
              As soon as you’ve set up your account, you can start to mine your first coins using our Bitcoin cloud mining service!</p>
          <p class="lead">
            <a class="btn btn-warning btn-lg" routerLink="/login" role="button">Get started</a>
          </p>
        </div> -->
      <!--================End Home Banner Area =================-->
          <app-header></app-header>
        <!--================Feature Area =================-->

        <!--<section class="feature_area" style="float:right; padding-top:0%">
            <div class="container">
              <div class="main_title">

                <h2 style="align-content: center">Instant access to investing, anytime and anywhere</h2>

              </div>

              <div class="feature_inner row">
                <div class="col-lg-4">
                  <div class="feature_item">
                    <img class="card-img-top" src="../../assets/litecoin-mining.jpg" >
                    <h4>Get your first mining output today</h4>
                    <p> You will get periodic mining outputs
                        to your designated wallet.</p>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="feature_item">
                    <img class="card-img-top" src="../../assets/pile_of_money-1920x1200.jpg" >
                    <h4>Concept Design</h4>
                    <p> You will get periodic mining outputs
                       to your designated wallet.</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature_item">
                    <img class="card-img-top" src="../../assets/investment-4.png" >
                    <h4>Concept Design</h4>
                    <p> You will get periodic mining outputs
                       to your designated wallet.</p>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
          <!--================End Feature Area =================-->

            <!--================Feature Area =================-->
        <section class="feature_area">
            <div class="container">
              <div class="main_title">
                <h2>WHAT WE OFFER OUR CLIENTS</h2>
                <p>15-20% returns on investment. Money mine is currently a promotional campaigne and as such we offer 20% to our
                  investors till the month of october 2019. 
                </p>
              </div>

              <div class=" row">
                <div class="col-lg-4">
                  <div class="">
                      <img class="card-img-top" src="../../assets/pile_of_money-1920x1200.jpg" >
                    
                    <h3>INSTANT WITHDRAWAL</h3>
                    <p>Choose the amount to withdraw and receive it instantly to your bank account.</p>
                      <!-- 
                      <div class="text-center feature_item">
                          <p type="button"
                           class="btn btn-success mr-2 "
                          placement="bottom"
                          popoverTitle="Instant payment"
                  ngbPopover="We are constantly striving to offer you even more deposit and withdrawal .... Deposits are processed instantly in case there is no need for additional verification."
                   >  View Details</p>
                  </div> alert button -->
                  <!-- end of alert button -->
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="">
                      <img class="card-img-top" src="../../assets/investment-4.png" >
                    <h3>DETAILED STATISTICS</h3>
                    <p>View all your investment performance and related
                       information in real-time.</p>
                       <!-- alert button -->
                       
                  <!-- end of alert button -->
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="">
                      <img class="card-img-top" src="../../assets/litecoin-mining.jpg" >
                    <h3>GET STARTED</h3>
                    <p>The mining starts immediately after confirmed payment.
                       First payouts within 24 hours.</p>
                       <!-- alert button -->
                     
        <!-- end of alert button -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--================End Feature Area =================-->
<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">
    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets/message.png" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Support 24/7</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>A team of professionals speaking your
             mother tongue are always here to support you</p>
          <!--Review-->

        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets/100k.png" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">N100,000 minimum deposit</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>No fees when you make a deposit
             or withdraw funds..</p>
          <!--Review-->

        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets//monitor.png" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Monitor Your investment</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Money mine allows you have control over your investment. you can see you daily and weekly profit from your dashboard.</p>

          <!--Review-->

        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!-- Section: Testimonials v.3 -->
<!-- ================ testimonies ================= -->
<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Testimonials </h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Trusted by over 2,000
      investors </p>

    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets//man1.png" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">kelvin Anne</h4>
          <h6 class="font-weight-bold blue-text my-3">Banker</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Innitially i doubted the process but eventually it paid off</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star-half-alt"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets//man2.png"class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Joshua Osugwei</h4>
          <h6 class="font-weight-bold blue-text my-3">Civil Servant</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Depending on salary to meet the demands of catering for my family was so stressful. Thank God Money Mine came to the rescue</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets//woman1.png"class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Stella Ese</h4>
          <h6 class="font-weight-bold blue-text my-3">Enterpreneur</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Payment of salaries was very challenging until i invested with money mine. </p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section> 
  <!-- Section: Testimonials v.3 -->
<!-- ================ testimonies end ================= -->




     
          <!--================End Clients Logo Area =================-->

