

      <!--================Home Banner Area =================-->
      <!-- <div class="jumbotron text-white">
          <h1 class="display-4 "><strong> Money mine</strong> </h1>
          <h6 class="lead">Join over 500000 people with the world’s leading hashpower provider</h6>
          <hr class="my-4">
          <p>It’s super simple - Your mining rigs are already set up and running.
              As soon as you’ve set up your account, you can start to mine your first coins using our Bitcoin cloud mining service!</p>
          <p class="lead">
            <a class="btn btn-warning btn-lg" routerLink="/login" role="button">Get started</a>
          </p>
        </div> -->
      <!--================End Home Banner Area =================-->
          <app-header></app-header>

        <!--================Feature Area =================-->
        <section class="feature_area" style="float:right;">
            <div class="container">
              <div class="main_title">
                <h2>Instant access to investing, anytime and anywhere</h2>
                <p>Join over 500000 people with the world’s leading hashpower provider</p>
              </div>

              <div class="feature_inner row">
                <div class="col-lg-4">
                  <div class="feature_item">
                    <img class="card-img-top" src="../../assets/litecoin-mining.jpg" >
                    <h4>Get your first mining output today</h4>
                    <p> You will get periodic mining outputs
                        to your designated wallet.</p>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="feature_item">
                    <img class="card-img-top" src="../../assets/pile_of_money-1920x1200.jpg" >
                    <h4>Concept Design</h4>
                    <p> You will get periodic mining outputs
                       to your designated wallet.</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="feature_item">
                    <img class="card-img-top" src="../../assets/investment-4.png" >
                    <h4>Concept Design</h4>
                    <p> You will get periodic mining outputs
                       to your designated wallet.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--================End Feature Area =================-->

            <!--================Feature Area =================-->
        <section class="feature_area">
            <div class="container">
              <div class="main_title">
                <h2>What we offer to our clients</h2>
                <p>If you are looking at blank cassettes on the web,
                  you may be very confused at the difference in price.
                  You may see some for as low as $.17 each.</p>
              </div>

              <div class=" row">
                <div class="col-lg-4">
                  <div class="">
                    <img src="../../assets/instant.png" class="feature_item" width="120" height="120" alt="">
                    <h4>INSTANT WITHDRAWAL</h4>
                    <p>Choose the amount to withdraw and receive it instantly to your bank account.</p>
                      <!-- alert button -->
                      <div class="text-center feature_item">
                          <p type="button"
                           class="btn btn-success mr-2 "
                          placement="bottom"
                          popoverTitle="Instant payment"
                  ngbPopover="We are constantly striving to offer you even more deposit and withdrawal .... Deposits are processed instantly in case there is no need for additional verification."
                   >  View Details</p>
                  </div>
                  <!-- end of alert button -->
                  </div>

                </div>
                <div class="col-lg-4">
                  <div class="">
                    <img src="../../assets/statistic.png" class="feature_item" width="120" height="120" alt="">
                    <h4>DETAILED STATISTICS</h4>
                    <p>View all your investment performance and related
                       information in real-time.</p>
                       <!-- alert button -->
                       <div class="text-center">
                          <p type="button"
                           class="btn btn-success mr-2 "
                          placement="bottom"
                          popoverTitle="Instant payment"
                  ngbPopover="Money is any item or verifiable record that is generally accepted as payment for goods and ...... 'Counterfeiting statistics for several currencies'. "
                   >  View Details</p>
                  </div>
                  <!-- end of alert button -->
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="">
                    <img src="../../assets/connection.png" class="feature_item" width="120" height="120" alt="">
                    <h4>INSTANT CONNECT</h4>
                    <p>The mining starts immediately after confirmed payment.
                       First payouts within 24 hours.</p>
                       <!-- alert button -->
                       <div class="text-center">
                <p type="button"
                 class="btn btn-success mr-2 "
                placement="bottom"
                popoverTitle="Instant payment"
        ngbPopover="Instant payments – also known as realtime payments –
        are defined by the Euro Retail Payments Board (ERPB) as electronic
         retail payment solutions that are available 24/7/365.
          They result in the immediate or close-to-immediate
           interbank clearing of the transaction and crediting
           of the payee’s account with confirmation to the payer
            (within seconds of payment initiation)."
         >  Learn more</p>
        </div>
        <!-- end of alert button -->
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--================End Feature Area =================-->
<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">
    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets/message.png" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Support 24/7</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>A team of professionals speaking your
             mother tongue are always here to support you</p>
          <!--Review-->

        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets/20k.png" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">#20,000 minimum deposit</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>No fees when you make a deposit
             or withdraw funds..</p>
          <!--Review-->

        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="../../assets//deposit.jfif" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">#100%,000 minimum investment</h4>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>It’s easy to get started with
            small amounts of money.</p>

          <!--Review-->

        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!-- Section: Testimonials v.3 -->
<!-- ================ testimonies ================= -->
<!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Testimonials </h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Trusted by over 46,000,000
      investors around the world..</p>

    <!--Grid row-->
    <div class="row text-center">

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
          <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>An esy and affordable way to dive into investment.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star-half-alt"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
          <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Contacting support was simply easy. I was supprised
          how easy they quickly get back to me.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4">

        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
          <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>i enjoy talking to other investors.</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!-- Section: Testimonials v.3 -->
<!-- ================ testimonies end ================= -->




        <!--================Clients Logo Area =================-->


          <div class="container" style="margin-bottom:30px;">
  <div class="row">
    <div class="col">
        <div class="item">
            <img src="../../assets/client-logo/c-logo-1.png" alt="">
          </div>
    </div>
    <div class="col">
        <div class="item">
            <img src="../../assets/client-logo//c-logo-2.png" alt="">
          </div>
    </div>
    <div class="col">
        <div class="item">
            <img src="../../assets/client-logo/c-logo-3.png" alt="">
          </div>
    </div>
    <div class="col">
        <div class="item">
            <img src="../../assets/client-logo/c-logo-4.png" alt="">
          </div>
    </div>
    <div class="col">
        <div class="item">
            <img src="../../assets/client-logo/c-logo-5.png" alt="">
          </div>
    </div>
  </div>
</div>
          <!--================End Clients Logo Area =================-->

