
          <!--================End Feature Area =================-->

          <app-navbar></app-navbar>

             <!--================Feature Area =================-->


            <app-header></app-header>
          <!--================End Feature Area =================-->
              <!--  banner -->
    <div class="container-fluid main-message jumbotron text-center  text-white text-white mt-0 mt-5">
      <h2 class=" font-weight-bold"> We are experience forex traders</h2>
      <p class="font-weight-bold"> Invest today and leave the rest for us.</p>
    </div>
  <!-- end banner -->



       <!--  banner -->
       <div class="p-5 grey lighten-3  banner-2 mt-0">
        <div class="row">
          <div class="col">
              <h4 class="font-weight-bold mt-5">WHAT WE OFFER OUR CLIENTS</h4>
              <ul>
                <li><p class="font-weight-bold text-dark"><i
                   class="fa fa-check text-success"></i> 15% returns on investment.</p></li>
                <li><p class="font-weight-bold text-dark"><i
                   class="fa fa-check text-success"></i> detailed statistics</p></li>
                <li><p class="font-weight-bold text-dark"><i
                   class="fa fa-check text-success"></i> instant withdrawal</p></li>
                <li><p class="font-weight-bold text-dark"><i
                   class="fa fa-check text-success"></i> N100,000 minimum deposit</p></li>
              </ul>
          </div>
          <div class="col">
              <img src="../../assets/new_pics/pics2.jpg" class=" img-fluid" alt=""/>
          </div>
        </div>
      </div>
    <!-- end banner -->

        <!-- banner 3 -->
      <section id="banner">
          <div class="text-xs-center banner-box text-center">
              <h1 class="font-weight-bold"> why choose money mine? </h1>
              <p class="lead">
                It is a long established fact that a reader will be distracted by
                 the readable
              </p>

              <!-- info -->
              <div class="container">
                  <div class="row">
                      <div class="col-md-3 col-sm-6">
                          <div class="serviceBox green">
                              <div class="service-icon">
                                  <span><i class="fa fa-eye"></i></span>
                              </div>
                              <h3 class="title">Monitor Your investment</h3>
                              <p class="description">Money mine allows you have control over your investment.
                                  you can see you daily and weekly profit from your dashboard. </p>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="serviceBox green">
                              <div class="service-icon">
                                  <span><i class="fa fa-key"></i></span>
                              </div>
                              <h3 class="title">Financial freedom</h3>
                              <p class="description">Our customers have since being part of
                                 us, became financially free with a steady income source.</p>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="serviceBox green">
                              <div class="service-icon">
                                  <span><i class="fa fa-phone"></i></span>
                              </div>
                              <h3 class="title">Support 24/7</h3>
                              <p class="description">A team of professionals speaking your
                                  mother tongue are always here to support you</p>
                          </div>
                      </div>
                      <div class="col-md-3 col-sm-6">
                          <div class="serviceBox green">
                              <div class="service-icon">
                                  <span><i class="fa fa-rocket"></i></span>
                              </div>
                              <h3 class="title"> >N100,000 minimum deposit</h3>
                              <p class="description">No fees when you make a deposit
                                  or withdraw funds.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end info -->
            </div>
      </section>

      <!-- banner 3 -->
          <!--================End Feature Area =================-->



  <!-- ============counter -->
    <app-counter></app-counter>


  <app-footer></app-footer>
