
<link href="../../assets/dash/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
<link href="../../assets/dash/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="../../assets/dash/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<!-- Main CSS-->
<link href="../../assets/dash/css/theme.css" rel="stylesheet" media="all">

<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a >
                <!-- <img src="../../assets/dash/images/icon/logo-white.png" alt="Cool Admin" /> -->
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">

                <h4 class="name">MONEY MINE</h4>
                <!-- <a href="#">Log out</a> -->
            </div>

            <!-- ######### side menu mobile -->
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" [routerLink]="['/user/dashboard']">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                             </a>
                    </li>

                    <li>
                        <a [routerLink]="['/user/profile']">
                            <i class="fas fa-chart-bar"></i>Profile</a>
                    </li>
                    <li>
                        <a [routerLink]="['/user/payment']">
                            <i class="fas fa-shopping-basket"></i>Transaction</a>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" [routerLink]="['/admin/transaction']">
                            <i class="fas fa-desktop"></i>Admin Panel
                            </a>
                    </li> <br>
                    <li class="has-sub">
                        <a class="js-arrow"  (click)="logout()">
                            <i  class="fa fa-power-off" aria-hidden="true"></i>Log out
                            </a>
                    </li>
                </ul>
            </nav>

            <!-- ############ end side menu mobile -->
        </div>
      </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop2">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap2">
                        <div class="logo d-block d-lg-none">
                            <a href="#">
                                <img src="../../assets/dash/images/icon/logo-white.png" alt="CoolAdmin" />
                            </a>
                        </div>
                        <div class="header-button2">
                            <div class="header-button-item mr-0 js-sidebar-btn">
                                <i  class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                            <div class="setting-menu js-right-sidebar d-none d-lg-block">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <!-- ########### side menu scrolll -->

        <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
            <div class="logo">
                <a href="#">
                    <img src="../../assets/dash/images/icon/logo-white.png" alt="Cool Admin" />
                </a>
            </div>

            <div class="menu-sidebar2__content js-scrollbar2">

                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" [routerLink]="['/user/dashboard']" routerLinkActive="router-link-active" >
                                <i class="fas fa-tachometer-alt"></i>-----------
                               </a>

                        </li>
                        <li>
                            <a [routerLink]="['/user/profile']">
                                <i class="fas fa-chart-bar"></i>----------</a>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" [routerLink]="['/user/dashboard']" routerLinkActive="router-link-active" >
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                               </a>

                        </li>
                        <li>
                            <a [routerLink]="['/user/profile']">
                                <i class="fas fa-chart-bar"></i>Profile</a>
                        </li>
                        <li>
                            <a [routerLink]="['/user/payment']">
                                <i class="fas fa-shopping-basket"></i>Transaction</a>
                        </li>

                        <li class="has-sub">
                            <a class="js-arrow" [routerLink]="['/admin/transaction']">
                                <i class="fas fa-desktop"></i>Admin Panel
                            </a>
                        </li> <br> <br>
                        <li class="has-sub">
                            <a class="js-arrow" (click)="logout();">
                                <i  class="fa fa-power-off" aria-hidden="true"></i>Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END HEADER DESKTOP-->

        <div class="container main-secction">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                    <img src="assets/profile-head.jpg">
                </div>
                <div class="row user-left-part">
                    <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                        <div class="row ">

                            <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                              <a routerLink="/user/bankdetails"> <button id="btn-contact" class="btn btn-success btn-block follow">Bank Details</button></a>
                                 <a routerLink="/user/payment"> <button class="btn btn-warning btn-block">My Transactions</button></a>
                            </div>
                            <div class="row user-detail-row">
                                <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                    <div class="border"></div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- for loop -->
                    <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section"
                    *ngFor="let item of $userProfile ">
                        <div class="row profile-right-section-row">
                            <div class="col-md-12 profile-header">
                                <div class="row">
                                    <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                        <h1> {{item.firstname}}   {{item.lastname}} </h1>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                        <a routerLink="/user/dashboard" class="btn btn-primary btn-block">Dashboard</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                            <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                      <a class="nav-link active"><i class="fas fa-user-circle"></i> {{item.email}} </a>
                                                    </li>
                                                    <li class="nav-item" *ngIf="item.isMember">
                                                      <a class="nav-link"><i class="fas fa-info-circle"></i> Account-type:  Marketer</a>
                                                    </li>
                                                    <li class="nav-item" *ngIf="item.isInvestor">
                                                      <a class="nav-link"><i class="fas fa-info-circle"></i> Account-type:  Investor</a>
                                                    </li>
                                                  </ul>

                                                  <!-- Tab panes -->
                                                  <div class="tab-content">
                                                    <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                            <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label>ID</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>{{item.id}} </p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label>  <i class="fas fa-envelope-alt"></i> </label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>{{item.email}} </p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label> <i class="fas fa-phone-alt"></i> 	&nbsp; </label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>{{item.number}} </p>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <label>Created</label>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <p>{{item.created.toDate() | date: 'medium'}} </p>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="buzz">

                                                    </div>

                                                  </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <app-footer></app-footer>
        <!-- END PAGE CONTAINER-->
    </div>

</div>

