 <!--  -->
<app-navbar></app-navbar>

<!-- acount type  -->
<div class="jumbotron card card-image mb-5" style="background-image: url(../../assets/new_pics/background-cement.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title text-dark h1-responsive pt-3 mr-5 mb-5 font-weight-bold">
        <i class="fa fa-map fa-lg text-success m-2"></i>ABOUT</h2>
      <p class="mx-5 mb-5 text-dark font-weight-bold">
      </p>
      <a [routerLink]="['/']" class="btn btn-outline-dark btn-md"><i class="fas fa-home left"></i> HOME</a>
    </div>
  </div>
</div>
<!-- end acount type  -->

<!-- about banner -->
<section class="my-5">
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="view  rounded  mb-lg-0 mb-4">
          <img class="img-fluid" src="../../assets/new_pics/company.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"> </div>
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-xl-8">
        <p class="dark-grey-text font-weight-bold"> Money mine is a financial service institution
           facilitating financial mentorship and investments. Money mine is an online broker offering
           financial services in various financial instrument.
            At Money Mine you encouraged to watch, learn and invest. </p>
      </div>
    </div>
    <hr class="my-5">
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
          <img class="img-fluid" src="../../assets/new_pics/ayaweisoft.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight">  </div>
          </a>
        </div>

      </div>
      <div class="col-lg-7 col-xl-8">
        <p class="dark-grey-text font-weight-bold">  Money mine is a product of  Ayaweisoft Inc.
          A Nigerian based and registered software Development company.
        </p>
      </div>
    </div>
    <hr class="my-5">
  </section>
    <!--  end of about banner -->


<section class="my-5">
  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">How it works</h2>
  <!-- Section description -->
  <p class=" text-dark text-center w-responsive mx-auto mb-5">
     There is two account types in money mine,
    these accounts types are the investors Account and the marketers account.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-bullhorn brown-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Open Account</h4>
          <p class="grey-text">: agents invite investors using their unique ref number,
             the more investor the more your earnings.
            Agents earn 5% from the trade profits of their investors.</p>
          <a routerLink="/user/payment" class="btn btn-brown btn-sm">Start now</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-cogs brown-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Fund your account </h4>
          <p class="grey-text">as an investor invest with the minimum fee of fifty thousand Naira. As an agent/marketer,
             you fund your account with a non-refundable annual fee of two thousand Naira only</p>
          <a routerLink="/user/payment" class="btn btn-brown btn-sm">Start now</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-2 col-md-3 col-2">
          <i class="fas fa-tachometer-alt brown-text fa-2x"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <h4 class="font-weight-bold">Monitor your Investment</h4>
          <p class="grey-text">at money mine, both agents and investors can watch and monitor
             the growth of their investment daily..</p>
          <a routerLink="/register" class="btn btn-brown btn-sm">Start now</a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->

<!-- #####3 footer ###3 -->
<app-footer></app-footer>
