/* Required for full background image */



.top-nav-collapse {
background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
background: transparent !important;
}

@media (max-width: 991px) {
.navbar:not(.top-nav-collapse) {
background: #3f51b5 !important;
}
}

.rgba-gradient {
background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
background-color: rgba(126, 123, 215, 0.2);
}
.jumbotron{
  background-image: url("https://mdbootstrap.com/img/Photos/Others/gradient1.jpg");
}

.md-form label {
color: #ffffff;
}

h6 {
line-height: 1.7;
}

// panel styling
.title {
  font-size: 4rem;
 margin: 0 0 .5em;
}
.article {
 background: white;
 box-shadow: 0 0 10px rgba(black, .25);
 padding: 20px 25px;

 &:not(:first-of-type) {
   margin-top: 20px;
 }

 &__title {
  font-size: 27px;
   margin: 0;
 }



 &__content {
   padding-top: .75em;
 font-size: 16px;
   margin: 0;
   font: bold;
   line-height: 1.4;
 }
}
.router-link-active{
  background-color: cornflowerblue;

}
