<div id="projectFacts" class="sectionClass grey lighten-3">
  <div class="fullWidth eight columns">
      <div class="projectFactsWrap ">
          <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
              <i  class="fa fa-handshake" ></i>
              <p id="number1" class="number">12</p>
              <span></span>
              <p>Years in Business</p>
          </div>
          <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
              <i class="fas fa-outdent"></i>
              <p id="number2" class="number">6.4</p>
              <span></span>
              <p>M Paid Out</p>
          </div>
          <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
              <i class="fa fa-users"></i>
              <p id="number3" class="number">13 </p>
              <span></span>
              <p> K Members</p>
          </div>
          <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
              <i class="fa  fa-heart"></i>
              <p id="number4" class="number">78933</p>
              <span></span>
              <p> Followers</p>
          </div>
      </div>
  </div>
</div>


