
<!-- boostrap navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">MoneyMine</a>
  <button  class="navbar-toggler" type="button"  (click)="isCollapsed = !isCollapsed"
   aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/services"
        (click)="navControl()"
        >SERVICES <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/partners"
        (click)="navControl()"
        >PARTNERS</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/about"
        (click)="navControl()"
        >ABOUT</a>
      </li>

    <li ngbDropdown class="nav-item dropdown active ">
      <a  ngbDropdownToggle class="nav-link dropdown-toggle"
      id="dropdown01" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">MORE</a>
      <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
        <a class="dropdown-item" (click)="navControl()" href="#">PAYOUT</a>
        <a class="dropdown-item" (click)="navControl()" href="#">FAQ</a>
        <a class="dropdown-item" (click)="navControl()" href="#">AFFILIATES</a>
        <a class="dropdown-item" (click)="navControl()" href="#">AFFILIATES</a>
      </div>
    </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <ng-template #anonymousUser  >
        <ul class="navbar-nav mr-auto" >
          <li   class="nav-item active">
              <a (click)="navControl()"
               class="nav-link" routerLink="/login">LOGIN</a>
            </li>

            <li class="nav-item active">
                <a (click)="navControl()"
                 class="nav-link" routerLink="/register">REGISTER</a>
              </li>
            </ul>
          </ng-template>

    <li ngbDropdown class="nav-item dropdown ">
        <a *ngIf="user$ | async as user; else anonymousUser " ngbDropdownToggle
         class="nav-link dropdown-toggle active"
        id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">{{user.email}} </a>
        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">

          <a class="dropdown-item" (click)="navControl()"
           routerLink="/user/inbox">INBOX</a>

           <a class="dropdown-item" (click)="navControl()"
          routerLink="/user/imlmembrs">IML MEMBERS</a>

          <a class="dropdown-item" (click)="navControl()"
          routerLink="/user/investors">INVESTORS</a>

          <a class="dropdown-item" (click)="navControl()"
           routerLink="/user/dashboard">MY DASHBOARD</a>

          <a class="dropdown-item" (click)="navControl()"
           routerLink="user/imlenroll/dashboard">iml enroll dashboard</a>

          <a class="dropdown-item" (click)="navControl()"
           routerLink="/user/investors/dashboard">investors dashboard</a>

          <a class="dropdown-item" (click)="navControl()"
           routerLink="/admin/dashboard">ADMIN DASHBOARD</a>

          <p class="dropdown-item" (click)="navControl()"
           (click)="logoutUser()">LOGOUT</p>

        </div>
      </li>
      <li *ngIf="user$ | async as user"  class="nav-item">
        <a  class="nav-link active" (click)="navControl()"
         routerLink="/user/payment" >Payment</a>
      </li>
    </ul>
  </div>
</nav>


