


<nav class="navbar navbar-expand-lg navbar-dark fixed-top indigo">
    <a class="navbar-brand" routerLink="/"><i class="fa bar-chart" aria-hidden="true"></i> <strong>MONEY MINE</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"  (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText"  [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" routerLink="/account/type"> <i class="fas fa-line-chart prefix"></i> Account Types</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/services"> <i class="fas fa-cog prefix"></i> Services</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="/partners"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Partners</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">   <i class="fas fa-info prefix"></i> About</a>
        </li>
      </ul >
      <ng-template #anonymousUser>
        <ul class="navbar-item nav navbar-nav navbar-right text-white" >
            <li class="nav-item"><a class="nav-link" routerLink="/register">  <i class="fas fa-user-plus prefix"></i>Sign Up</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/login"> <i class="fas fa-angle-double-right prefix"></i> Login</a></li>
          </ul>
        </ng-template>
        <ul  class="navbar-item nav navbar-nav navbar-right text-white"  *ngIf="user$ | async as user; else anonymousUser ">
            <li class="nav-item"> <a class="nav-link" routerLink="/user/profile"> <i class="fas fa-user prefix"></i> {{user.email}} </a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="user/dashboard"> <i class="fa fa-tasks" aria-hidden="true"></i> Dashboard </a> </li>
            <li class="nav-item" (click)="logoutUser()"> <a class="nav-link" > <i class="fas fa-sign-out-alt prefix"></i>Logout</a>  </li>
          </ul>


    </div>
  </nav>



