li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font:bold;
}


.navbar{
  margin-bottom: 50px;
  background-color: #130f03;
}
.router-link-active{
  background-color: cornflowerblue;

}


