

  <!-- ====== login form ========= -->
<div class="row">
    <div class="main_window">
      <div class="card">
    <div class="container userlogin">
      <div class="form-wrapper" id="wrapper-login">
          <img src='' />
          <div class="content-wrapper" id="content-signin">
              <h5 class="text-center">RESET PASSWORD</h5>
              <form class="form-login">

                  <input type="email" name="email"
                  [(ngModel)]="emailInput"
                   placeholder="Email" class="input-username" />

                  <button type="submit"  (click)="forgotPassword()"
                   class="btn-login">Get email to reset password</button>

                  <!-- == error messages == -->
                  <div class="bg-danger text-white text-center {{responseMessageType}}" role="alert"
                      *ngIf="responseMessage.length">
                      {{responseMessage}}
                  </div>
              </form>

              <div class="text-dark">
            </div>
          </div>
      </div>
      </div>
      <!--  -->
    </div>
  </div>
    </div>
