




<!-- !!!!! -->
<div class="simple-login-container jumbotron text-white">
  <h2 class="font-weight-bold">MONEY MINE</h2>
  <div class="row">
      <div class="col-md-12 form-group">
        <i class="fas fa-user prefix"></i>
    <input type="email" id="email" name="email"  [(ngModel)]="emailInput" value=""
     class="form-control " placeholder="E-mail" autocapitalize="none">
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 form-group">
         <!-- password -->
     <i class="fas fa-lock prefix"></i>
     <input type="password"  [(ngModel)]="passwordInput" id="password"
     class="form-control " placeholder="Password" name="password" value="" required>
      </div>
  </div>
  <div class="row">
      <!-- Sign in button -->
    <button class="btn  btn-login"  (click)="loginUser( )"
    id="submitBtn" type="submit">
     <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="loading"></i>  Log in </button>
     <br>
     <div class="flash">
       <flash-messages></flash-messages>
     </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <a routerLink="/register">create account</a> <br>
          <a routerLink="/passwordreset">forget password</a>
      </div>
  </div>
</div>

<!-- !!!!! -->

<app-footer></app-footer>
