  <h1 class="text-center bg-info text-white"> SELECT ACCOUNT</h1>
  <!-- columns -->
  <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets//investment.png" alt="investment">
                <div class="card-body">
                  <h5 class="card-title">INVESTMENT ACCOUNT</h5>
                  <p class="card-text">Become an investor on money mine</p>
      <button class="btn btn-lg btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(investContent)">INVESTMENT</button>

                 </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/enrollment.png" alt="membership">
                <div class="card-body">
                  <h5 class="card-title">Money mine memnership</h5>
                  <p class="card-text">Become a member on money mine.</p>
      <button class="btn btn-lg btn-outline-primary " (click)="openVerticallyCentered2(memberContent)">MEMBERSHIP</button>

                </div>
              </div>
        </div>
      </div>
    </div>

    <!-- Modal template for inestment -->
    <ng-template #investContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title"> INVESTOR</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> <b>You have choosed to became an <strong> investor</strong> on money mine. </b></p>
          <p> <b>Note:</b>This option cannot be undone,
             it is advisable you read <strong class="text-info">money mine policy</strong> before choosing this option. </p> <br>
            <p>Do you really want to bacome an <strong class="text-info">investor</strong>? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-outline-danger"  (click)="modal.close('Close click')">No</button>
          <button type="button" class="btn btn-light btn-outline-success" (click)="modal.close('Close click')">Yes</button>
        </div>
      </ng-template>

    <!-- Modal template for inestment -->
    <ng-template #memberContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title"> Membership Account</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> <b>You have choosed to join the <strong> Membership gruop</strong> on money mine. </b></p>
          <p> <b>Note:</b>This option cannot be undone,
             it is advisable you read <strong class="text-info">money mine policy</strong> before choosing this option. </p> <br>
            <p>Do you really want to join the <strong class="text-info">membership group</strong>? </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light btn-outline-danger"  (click)="modal.close('Close click')">No</button>
          <button type="button" class="btn btn-light btn-outline-success" (click)="modal.close('Close click')">Yes</button>
        </div>
      </ng-template>
