<ngb-tabset [justify]="" >
    <ngb-tab>
      <!-- tab one -->
        <ng-template ngbTabTitle><b> Account</b></ng-template>
        <ng-template ngbTabContent>

    <div class="list-group">
        <li  class="list-group-item list-group-item-action active">
          <b>Iml enroll member</b>
        </li>
        <li  class="list-group-item list-group-item-action bg-warning">
            <b>market status :  good </b>
          </li>
        <li  class="list-group-item list-group-item-action"> initial deposit ; 100000</li>
        <li  class="list-group-item list-group-item-action"> Accrued ammount : 120000</li>
        <li  class="list-group-item list-group-item-action"> Investment date : 2/1/2019</li>
        <li  class="list-group-item list-group-item-action"> Investment count : 3 month</li>

      </div>
      <a routerLink="/user/payment" class="btn btn-success">Top up account </a>
        </ng-template>
      </ngb-tab>
      <!-- tab two -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>progress</b></ng-template>

  </ngb-tab>
  <!-- tab three -->
  <ngb-tab>
      <ng-template ngbTabTitle><b> Profile</b></ng-template>
      <ng-template ngbTabContent>
          <div class="list-group">
              <li  class="list-group-item list-group-item-action active">
                <b>Iml enroll </b>
              </li>

              <li  class="list-group-item list-group-item-action"> email  :  <span class="bg-success text-white">  good </span>   </li>
              <li  class="list-group-item list-group-item-action"> username : ...</li>
              <li  class="list-group-item list-group-item-action"> Account status : Active</li>
              <li  class="list-group-item list-group-item-action"> </li>
              <li  class="list-group-item list-group-item-action"> </li>
            </div>

      </ng-template>
    </ngb-tab>
</ngb-tabset>


