<ngb-tabset [justify]="currentJustify">
    <ngb-tab>
      <!-- tab one -->
        <ng-template ngbTabTitle><b> Account</b></ng-template>
        <ng-template ngbTabContent> <p> Account details</p>

    <div class="list-group">
        <li  class="list-group-item list-group-item-action active">
          <b>Iml enroll member</b>
        </li>
        <li  class="list-group-item list-group-item-action"> Market status   :  <span class="bg-success text-white">  good </span>   </li>
        <li  class="list-group-item list-group-item-action"> percentage increment :  good</li>
        <li  class="list-group-item list-group-item-action"> Downline : 4</li>
        <li  class="list-group-item list-group-item-action"> Balance :  50000</li>
        <li  class="list-group-item list-group-item-action"> Commission :  14% of sub members</li>
      </div>
        </ng-template>
      </ngb-tab>
      <!-- tab two -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>performance</b></ng-template>
    <ng-template ngbTabContent>
        <div class="list-group">
            <li  class="list-group-item list-group-item-action active">
              <b>market status : good</b>
            </li>
            <li>membership matrix</li>

          </div>

    </ng-template>
  </ngb-tab>
  <!-- tab three -->
  <ngb-tab>
      <ng-template ngbTabTitle><b> Profile</b></ng-template>
      <ng-template ngbTabContent>
          <div class="list-group">
              <li  class="list-group-item list-group-item-action active">
                  <p>email :    .....</p>
                  <p>username  :   ...</p>
                  <p>bank  details</p>
                  <p>date enroll</p>
              </li>


            </div>

      </ng-template>
    </ngb-tab>
</ngb-tabset>


