<app-navbar></app-navbar>

<!-- headder -->
<div class="jumbotron card card-image mb-5" style="background-image: url(../../assets/new_pics/background-cement.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title text-dark h1-responsive pt-3 mr-5 mb-5 font-weight-bold">
        <i class="fa fa-file-text fa-lg text-success m-2"></i>PARTNERSHIP</h2>
        <p class="dark-grey-text font-weight-bold">  Partner with money mine today. </p>
      <a [routerLink]="['/']" class="btn btn-outline-dark btn-md"><i class="fas fa-home left"></i> HOME</a>
    </div>
  </div>
</div>
<!-- end headder -->

  <article class="article text-center">
      <h4 class="article__title"></h4>
      <div class="article__content"> Money mine is a product of <strong> Ayaweisoft Inc.</strong>
         A Nigerian based and registered software Development company.
          Money mine is a financial service institution facilitating financial mentorship
          and investments. Money mine is an online broker offering financial services in various financial instrument.
          At Money Mine you encouraged to watch, learn and invest.

      </div>
    </article>
<app-footer></app-footer>

