
 <!--  -->
 <header class="main-header">

    <!-- Full Page Intro -->
    <div class=" jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../assets/gradient2.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-purple-slight d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row wow fadeIn">
            <!--Grid column-->
            <div class="col-md-12 text-center">
              <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInUp"> PARTNERSHIP</h1>
              <h5 class="pt-md-5 pt-sm-2 pt-5 pb-md-5 pb-sm-3 pb-5 wow fadeInUp" data-wow-delay="0.2s">
                   </h5>

            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>

  </header>
  <!-- Main navigation -->

  <article class="article text-center">
      <h4 class="article__title"></h4>
      <div class="article__content"> Money mine is a product of <strong> Ayaweisoft Inc.</strong>
         A Nigerian based and registered software Development company.
          Money mine is a financial service institution facilitating financial mentorship
          and investments. Money mine is an online broker offering financial services in various financial instrument.
          At Money Mine you encouraged to watch, learn and invest.

      </div>
    </article>


