<div class="container">
	<div class="row">

	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>kelvin Anne</h3>
	<p></p>
	</div>

	<div class="team-back">
	<span>
    Innitially i doubted the process but eventually it paid off
	</span>
	</div>

	</div>
	</div>
	<!--team-1-->

	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets//tesstimonies.png" class="img-fluid" />
	<h3>Joshua Osugwei</h3>
	<p>Civil Servant</p>
	</div>

	<div class="team-back">
	<span>
    Depending on salary to meet the
     demands of catering for my family was so stressful.
      Thank God Money Mine came to the rescue
	</span>
	</div>

	</div>
	</div>
	<!--team-2-->

	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>Stella Ese</h3>
	<p>Enterpreneur</p>
	</div>

	<div class="team-back">
	<span>
    Payment of salaries was very challenging until i invested with money mine.
	</span>
	</div>

	</div>
	</div>
	<!--team-3-->


	</div>
	</div>
