<div class="container">
	<div class="row">

	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>kelvin Anne</h3>
	<p></p>
	</div>

	<div class="team-back">
	<span>
    Innitially i doubted the process but eventually it paid off
	</span>
	</div>

	</div>
	</div>
	<!--team-1-->

	<!--team-2-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets//tesstimonies.png" class="img-fluid" />
	<h3>Joshua Osugwei</h3>
	<p>Civil Servant</p>
	</div>

	<div class="team-back">
	<span>
    Depending on salary to meet the
     demands of catering for my family was so stressful.
      Thank God Money Mine came to the rescue
	</span>
	</div>

	</div>
	</div>
	<!--team-2-->

	<!--team-3-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>Stella Ese</h3>
	<p>Enterpreneur</p>
	</div>

	<div class="team-back">
	<span>
    Payment of salaries was very challenging until i invested with money mine.
	</span>
	</div>

	</div>
	</div>
	<!--team-3-->

	<!--team-4-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>David agbaje</h3>
	<p>student</p>
	</div>

	<div class="team-back">
	<span>
    I never had an helper , strugling
    to meet up school demand was a life in hell. Then i found money mine.
     guest what, im now a big boy.
	</span>
	</div>

	</div>
	</div>
	<!--team-4-->

	<!--team-5-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>Dilip Kevat</h3>
	<p>Web Designer</p>
	</div>

	<div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	natoque.
	</span>
	</div>

	</div>
	</div>
	<!--team-5-->

	<!--team-6-->
	<div class="col-lg-4">
	<div class="our-team-main">

	<div class="team-front">
	<img src="../../../assets/tesstimonies.png" class="img-fluid" />
	<h3>Dilip Kevat</h3>
	<p>Web Designer</p>
	</div>

	<div class="team-back">
	<span>
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	natoque penatibus et magnis dis parturient montes,
	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
	natoque.
	</span>
	</div>

	</div>
	</div>
	<!--team-6-->



	</div>
	</div>
