
<div class="jumbotron">
  <h1 class="display-4">welcome  </h1>
  <p class="lead"></p>
  <hr class="my-4">
  <!-- <section *ngIf="(authenticate.user | async) as user;">
    <h1>{{user.email}} </h1>
  </section> -->

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<!-- When Uses is Logged In using Email or Google Account -->
<div class="card-body" >
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">Display Name:
           </li>
          <li class="list-group-item">Email:  {{displayEmail}}  </li>
          <li class="list-group-item">
           </li>

        </ul>
      </div>
    </div>
  </div>



