




  <div class="card">
      <div class="card-header bg-info text-white">
        Welcome :
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
           <a routerLink="/user/dashboard"> <button type="button" class="btn btn-unique btn-lg">Dashboard</button></a>
           <a routerLink="/user/profile"> <button type="button" class="btn btn-unique btn-lg">Profile</button></a>
            <a routerLink="/transactions"> <button type="button" class="btn btn-unique btn-lg">Transactions</button></a>
            <a routerLink="/user/payment"> <button type="button" class="btn btn-unique btn-lg">Payment</button></a>
            <a routerLink="/admin/dashboard"> <button type="button" class="btn btn-danger btn-lg">Admin Panel</button></a>

          </div>
      </div>
    </div>

    <!-- ========== -->
    <!-- Section: Pricing v.4 -->
<section class="text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Our Plans</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <!-- Card -->
        <div class="card">

          <!-- Content -->
          <div class="card-body">

            <!-- Offer -->
            <h5 class="mb-4">INVESMTMENT</h5>
            <div class="d-flex justify-content-center">
              <div class="card-circle d-flex justify-content-center align-items-center">
                <i class="fas fa-home indigo-text"></i>
              </div>
            </div>

            <!--Price -->
            <h2 class="font-weight-bold my-4">₦ 59</h2>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa pariatur id
              nobis accusamus deleniti cumque hic laborum.</p>
            <a class="btn btn-indigo btn-rounded" [routerLink]="['/user/payment']"   >Invest now</a>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

        <!-- Card -->
        <div class="card indigo">

          <!-- Content -->
          <div class="card-body white-text">

            <!-- Offer -->
            <h5 class="mb-4">Investor</h5>
            <div class="d-flex justify-content-center">
              <div class="card-circle d-flex justify-content-center align-items-center">
                <i class="fas fa-users"></i>
              </div>
            </div>

            <!--Price -->
            <h2 class="font-weight-bold my-4">₦ 79</h2>
            <p>Esse corporis saepe laudantium velit adipisci cumque iste ratione facere non distinctio cupiditate
              sequi atque.</p>
            <a class="btn btn-outline-white btn-rounded" [routerLink]="['/user/payment']"
            routerLinkActive="router-link-active" >Invest now </a>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">

        <!-- Card -->
        <div class="card">

          <!-- Content -->
          <div class="card-body">

            <!-- Offer -->
            <h5 class="mb-4">Advanced plan</h5>
            <div class="d-flex justify-content-center">
              <div class="card-circle d-flex justify-content-center align-items-center">
                <i class="fas fa-chart-line indigo-text"></i>
              </div>
            </div>

            <!--Price -->
            <h2 class="font-weight-bold my-4">₦ 99</h2>
            <p class="grey-text">At ab ea a molestiae corrupti numquam quo beatae minima ratione magni
              accusantium repellat eveniet quia vitae.</p>
            <a class="btn btn-indigo btn-rounded" [routerLink]="['/user/payment']"  >Invest Now</a>

          </div>
          <!-- Content -->

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Pricing v.4 -->
