.btn-group-lg .btn, .btn-group-sm .btn {
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  }
  .router-link-active{
    background-color: cornflowerblue;

  }

li{
  font-weight: bold;
  padding: 2px;
border: 5px;
}
