<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(../../assets/bw-bitcoin.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> </h5>
      <h2 class="card-title h2 my-4 py-2">Start investing today
        </h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">You’ll pay ₦ 20,000 minimun per stock and options trade,
        or ₦ 2,000 per open contract as a membership.
         Make %5 or more  per quarter on your open trade
    </p>
      <a [routerLink]="['/user/payment']"   class="btn peach-gradient"><i class="fas fa-clone left"></i> Invest Now</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->
