

<app-navbar></app-navbar>

<!-- headder -->
<div class="jumbotron card card-image mb-5" style="background-image: url(../../assets/new_pics/background-cement.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title text-dark h1-responsive pt-3 mr-5 mb-5 font-weight-bold">
        <i class="fa fa-file-text fa-lg text-success m-2"></i>SERVICES</h2>

      <a [routerLink]="['/']" class="btn btn-outline-dark btn-md"><i class="fas fa-home left"></i> HOME</a>
    </div>
  </div>
</div>
<!-- end headder -->

<div class="container">
  <div class="row">
      <div class="col-md-3 col-sm-6 ">
          <div class="pricingTable ">
              <div class="pricingTable-header indigo">
                  <span class="heading indigo">
                      <h3>Premium Investment</h3>
                  </span>
                  <span class="price-value"><label style= "font-size:0.5em">N 100,000</label><span class="mo"> and above</span></span>
  </div>

              <div class="pricingContent">
                  <ul>
                      <li>Make a deposit</li>
                      <li>Monitor Your Investment</li>
                      <li>Anytime withdrawal</li>
                      <li>Specify duration of investment</li>
                      <li>24/7 support available</li>
                  </ul>
              </div><!-- /  CONTENT BOX-->

              <div class="pricingTable-sign-up ">
                  <a routerLink="/user/payment" class="btn btn-block  indigo">invest now</a>
              </div><!-- BUTTON BOX-->
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
          <div class="pricingTable">
              <div class="pricingTable-header">
                  <span class="heading">
                      <h3>Family Investment</h3>
                  </span>
                  <span class="price-value"><label style= "font-size:0.5em">N 300,000</label><span class="mo"> and above</span></span>
              </div>

              <div class="pricingContent">
                  <ul>
                    <li>Make a deposit for family</li>
                    <li>Monitor Your Investment</li>
                    <li>Anytime withdrawal</li>
                    <li>Specify duration of investment</li>
                    <li>24/7 support available</li>
                  </ul>
              </div><!-- /  CONTENT BOX-->

              <div class="pricingTable-sign-up">
                  <a routerLink="/user/payment" style = "background-color: #273238" class="btn btn-block ">invest now</a>
              </div><!-- BUTTON BOX-->
          </div>
          </div>
          <div class="col-md-3 col-sm-6">
          <div class="pricingTable">
              <div class="pricingTable-header">
                  <span class="heading">
                      <h3>Salary Automated</h3>
                  </span>
                  <span class="price-value"><label style= "font-size:0.5em">N 500,000</label><span class="mo"> and above</span></span>
              </div>

              <div class="pricingContent">
                  <ul>
                    <li>Pay your staff with ease</li>
                    <li>Monitor Your Investment</li>
                    <li>Anytime withdrawal</li>
                    <li>Specify duration of investment</li>
                    <li>Dedicated account Manager</li>
                    <li>24/7 support available</li>
                  </ul>
              </div><!-- /  CONTENT BOX-->

              <div class="pricingTable-sign-up">
                  <a routerLink="/user/payment" style = "background-color: #273238"  class="btn btn-block ">invest now</a>
              </div><!-- BUTTON BOX-->
          </div>
      </div>
      <div class="col-md-3 col-sm-6 ">
        <div class="pricingTable ">
            <div class="pricingTable-header indigo">
                <span class="heading indigo">
                    <h3>Capital Project</h3>
                </span>
                <span class="price-value"><label style= "font-size:0.5em">N 1,000,000</label><span class="mo"> and above</span></span></div>

            <div class="pricingContent">
                <ul>
                  <li>PLan and execute capital project</li>
                  <li>Monitor Your Investment</li>
                  <li>Anytime withdrawal</li>
                  <li>Specify duration of investment</li>
                  <li>Dedicated account Manager</li>
                  <li>Financial consultancy services</li>
                  <li>24/7 support available</li>
                </ul>
            </div><!-- /  CONTENT BOX-->

            <div class="pricingTable-sign-up ">
                <a routerLink="/user/payment" class="btn btn-block  indigo">invest now</a>
            </div><!-- BUTTON BOX-->
        </div>
    </div>
      </div>
  </div>

  <app-footer></app-footer>
