<!-- <div  role="group" aria-label="Basic example ">
  <a [routerLink]="['/admin/dashboard']"  class="btn purple-gradient btn-rounded text-white">Accounts</a>
  <a [routerLink]="['/admin/manage-users']" class="btn purple-gradient btn-rounded text-white">Manage Users</a>
  <a [routerLink]="['/admin/settings']"  class="btn purple-gradient  btn-rounded text-white">Settings</a>
  <a [routerLink]="['/admin/notification']"  class="btn  purple-gradient btn-rounded text-white">Notifications</a>
  <a [routerLink]="['/admin/transaction']"  class="btn purple-gradient btn-rounded text-white">Transactions</a>
</div> -->


<!-- ------------- -->
<link href="../../assets/dash/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
<link href="../../assets/dash/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="../../assets/dash/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<!-- Main CSS-->
<link href="../../assets/dash/css/theme.css" rel="stylesheet" media="all">

<!-- --------------------------------- -->
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">
        <div class="logo">
            <a >
                <!-- <img src="../../assets/dash/images/icon/logo-white.png" alt="Cool Admin" /> -->
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">

                <h4 class="name">MONEY MINE</h4>
                <!-- <a href="#">Log out</a> -->
            </div>

            <!-- ######### side menu mobile -->
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" [routerLink]="['/admin/transaction']">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                             </a>
                    </li>

                    <li>
                        <a [routerLink]="['/admin/manage-users']">
                            <i class="fas fa-chart-bar"></i>manage-user</a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/transaction']">
                            <i class="fas fa-shopping-basket"></i>Transactions</a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/notification']">
                            <i class="fas fa-shopping-basket"></i>Notifications</a>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" [routerLink]="['/admin/settings']" routerLinkActive="router-link-active" >
                            <i class="fa fa-cog"></i>Settings
                            </a>
                    </li> <br>
                    <li class="has-sub">
                        <a class="js-arrow"  (click)="logout()">
                            <i  class="fa fa-power-off" aria-hidden="true"></i>Log out
                            </a>
                    </li>
                </ul>
            </nav>

            <!-- ############ end side menu mobile -->
        </div>
      </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container2">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop2">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap2">
                        <div class="logo d-block d-lg-none">
                            <a href="#">
                                <img src="../../assets/dash/images/icon/logo-white.png" alt="CoolAdmin" />
                            </a>
                        </div>
                        <div class="header-button2">
                            <div class="header-button-item mr-0 js-sidebar-btn">
                                <i  class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                            <div class="setting-menu js-right-sidebar d-none d-lg-block">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            <!-- ########### side menu scrolll -->

            <!-- ########### side menu scrolll -->

            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="../../assets/dash/images/icon/logo-white.png" alt="logo" />
                    </a>
                </div>

                <div class="menu-sidebar2__content js-scrollbar2">

                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li class="active has-sub">
                            </li>
                            <li>

                            </li>
                            <li class="active has-sub">
                                <a class="js-arrow" [routerLink]="['/admin/transaction']" routerLinkActive="router-link-active" >
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                   </a>

                            </li>
                            <li>
                                <a [routerLink]="['/admin/manage-users']"  routerLinkActive="router-link-active">
                                    <i class="fa fa-user"></i>Manage user</a>
                            </li>
                            <li>
                                <a [routerLink]="['/admin/transaction']"  routerLinkActive="router-link-active">
                                    <i class="fas fa-shopping-basket"></i>Transaction</a>
                            </li>

                            <li class="has-sub">
                                <a class="js-arrow" [routerLink]="['/admin/settings']"  routerLinkActive="router-link-active">
                                    <i class="fa fa-cog"></i>Settings
                                </a>
                            </li> <br> <br>
                            <li class="has-sub">
                                <a class="js-arrow" (click)="logout();">
                                    <i  class="fa fa-power-off" aria-hidden="true"></i>Log out
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
                <!-- ########### end side menu scrolll -->

            <!-- ########### end side menu scrolll -->

        <!-- END HEADER DESKTOP-->

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">

                        <div class="d-flex justify-centent-center">
                            <div class="col">
                                <flash-messages></flash-messages>
                                <!-- loader -->
                                <div *ngIf="loader">
                                    <div class="loader"></div>
                                    </div>
                            </div>
                          </div>

                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BREADCRUMB-->

        <!-- modal -->

        <!-- end modal -->


        <div class="container d-flex justify-centent-center">



          <ol class="rounded-list row d-flex justify-centent-center">
            <div class="col">
                <button class="btn  btn-success btn-block  mt-1 mb-1" (click)="pushMoneyToTrade()" > START TRADE</button>
                <button class="btn  btn-danger mt-1 nb-1 btn-block" (click)="closeAllTrade()" > END TRADE</button>



            </div>

            <div class="col ">
              <li><h6 class="font-weight-bold mb-1 mt-1"> Trading: ₦ {{allTrade | number}} </h6></li>
              <li><h6 class="font-weight-bold mb-1 mt-1"> Count:{{ tradeCount | number}} % </h6></li>

            </div>
            <div class="col">
              <p class="text-center  text-white">share trade profit to all users </p>
              <form *ngIf="allTrade" #account_form="ngForm" (submit)="shareprofitToAll(account_form);">
                  <input type="number" id="newField" placeholder="value in percentage"
                   name="profit" [(ngModel)]="profit" />
                  <input name="addFieldButton" type="button" value="%" />
                  <input type="submit" class="btn-block mt-1 mb-1" value="SHARE PROFIT">
              </form>
            </div>

          </ol>

          </div>




        <!-- END PAGE CONTAINER-->
    <app-footer></app-footer>

    </div>

</div>


<!-- ######## -->







