
<link href="../../assets/dash/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
<link href="../../assets/dash/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="../../assets/dash/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<!-- Main CSS-->
<link href="../../assets/dash/css/theme.css" rel="stylesheet" media="all">


<!-- ######## -->
<div class="page-wrapper">
    <aside class="menu-sidebar2">
        <div class="logo">
            <a >
                <!-- <img src="../../assets/dash/images/icon/logo-white.png" alt="Cool Admin" /> -->
            </a>
        </div>
        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">

                <h4 class="name">MONEY MINE</h4>
                <!-- <a href="#">Log out</a> -->
            </div>

            <!-- ######### side menu mobile -->
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class="active has-sub">
                        <a class="js-arrow" [routerLink]="['/user/dashboard']">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                             </a>
                    </li>

                    <li>
                        <a [routerLink]="['/user/profile']">
                            <i class="fas fa-chart-bar"></i>Profile</a>
                    </li>
                    <li>
                        <a [routerLink]="['/user/payment']">
                            <i class="fas fa-shopping-basket"></i>Transaction</a>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" [routerLink]="['/admin/transaction']">
                            <i class="fas fa-desktop"></i>Admin Panel
                            </a>
                    </li> <br>
                    <li class="has-sub">
                        <a class="js-arrow"  (click)="logout()">
                            <i  class="fa fa-power-off" aria-hidden="true"></i>Log out
                            </a>
                    </li>
                </ul>
            </nav>

            <!-- ############ end side menu mobile -->
        </div>
      </aside>


  <!-- PAGE CONTAINER-->
  <div class="page-container2">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop2">
          <div class="section__content section__content--p30">
              <div class="container-fluid">
                  <div class="header-wrap2">
                      <div class="logo d-block d-lg-none">
                          <a href="#">
                              <img src="../../assets/dash/images/icon/logo-white.png" alt="CoolAdmin" />
                          </a>
                      </div>
                      <div class="header-button2">
                          <div class="header-button-item mr-0 js-sidebar-btn">
                              <i  class="fa fa-bars" aria-hidden="true"></i>
                          </div>
                          <div class="setting-menu js-right-sidebar d-none d-lg-block">


                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
          <!-- ########### side menu scrolll -->

      <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
          <div class="logo">
              <a href="#">
                  <img src="../../assets/dash/images/icon/logo-white.png" alt="Cool Admin" />
              </a>
          </div>

          <div class="menu-sidebar2__content js-scrollbar2">

              <nav class="navbar-sidebar2">
                  <ul class="list-unstyled navbar__list">
                      <li class="active has-sub">
                          <a class="js-arrow" [routerLink]="['/user/dashboard']" routerLinkActive="router-link-active" >

                             </a>

                      </li>
                      <li>
                          <a [routerLink]="['/user/profile']">
                              </a>
                      </li>
                      <li class="active has-sub">
                          <a class="js-arrow" [routerLink]="['/user/dashboard']" routerLinkActive="router-link-active" >
                              <i class="fas fa-tachometer-alt"></i>Dashboard
                             </a>

                      </li>
                      <li>
                          <a [routerLink]="['/user/profile']">
                              <i class="fas fa-chart-bar"></i>Profile</a>
                      </li>
                      <li>
                          <a [routerLink]="['/user/payment']">
                              <i class="fas fa-shopping-basket"></i>Transaction</a>
                      </li>

                      <li class="has-sub">
                          <a class="js-arrow" [routerLink]="['/admin/transaction']">
                              <i class="fas fa-desktop"></i>Admin Panel
                          </a>
                      </li> <br> <br>
                      <li class="has-sub">
                          <a class="js-arrow" (click)="logout();">
                              <i  class="fa fa-power-off" aria-hidden="true"></i>Log out
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>
      </aside>

<!-- SideNav slide-out button -->
<article class="article text-center text-white warning-color-dark " >
  <h4 class="article__title">Credit your Account with our Simple payment Method.</h4>
  <div class="article__content"> We accept online payment with ease.
  </div>
  <img src="../../assets//paymentpic.jfif" alt="">
</article>
<hr>

<!-- ===== paystack  payment ==== -->
<!-- Card -->
<article class="article text-center">
<div class="card mx-xl-5">
    <div class="card">

        <!-- Card body -->
        <div class="card-body primary-color-dark text-white">
          <img src="../../assets/online-payment.png" alt="">
            <!--===== Amount input ======= -->
            <form >

             <h6 class="article__title text-white">Enter amount below.</h6>

            <strong> ₦ </strong>
            <input type="number"   [(ngModel)]="amountInput" name="amount" id="amount"
            class="paymentForm"  autocomplete="off" placeholder="Amount in Naira">



                <div style="widows: 100%; display:flex;  justify-content: center;" (click)="paynow()">
                    <div class="example-button-row">
                    <angular4-paystack
                    [key]="'pk_live_bca75894ac696e19c47f7643e3d5de44b4a711e3'"
                    [email]="(currentUserEmail)"
                    [amount]="(amountInput)"
                    [ref]="(refInput)"
                    [channels]="['bank']"
                    [class]="'btn btn-success'"
                    (close)="paymentCancel()"
                    (callback)="paymentDone($event)"
                    >PAY NOW</angular4-paystack>
                    </div>
                    </div>
            </form>
            <!-- Material form register -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->


</div>
</article>
<!-- Card -->
<!-- ====== end payment ======= -->





<article class="transaction text-center text-white brown darken-4 " >
  <h6 class="article__title text-center" ></h6>
  <div class="article__content"><small>
     If you have any issues about your transaction , please use our customer service help center</small>
  </div>


<div class="text-center">
  <button class="btn" (click)="refreshTable()">
<h6> <strong>Refresh Transaction Table</strong> </h6>
  </button>

<!--Table-->
<div class="table-responsive" >
<table class="table table-striped w-auto">
    <thead>
      <tr>
        <th>#</th>
        <th>Amount</th>
        <th>status</th>
        <th>message</th>
        <th>Ref</th>
        <th>Date</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr class="table-info"  *ngFor="let details of transactionValues; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>₦ {{ details.amount | currency: 'NG' }} </td>
        <td>{{ details.status}}</td>
        <td>{{ details.message  }}</td>
        <td>{{ details.tranxRef   }}</td>
        <td>{{ details.created.toDate()  | date:'medium'}}
          <button style=" margin-left:2px" type="button" class="btn btn-sm btn-danger" (click)="deleteTranx(details.id)">X</button> </td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</div>
</article>


<!-- getting items -->
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.amount}} <br> {{item.email}} <br> {{item.created}}
  </li>
</ul>

</div>
<!-- ######## -->
<app-footer></app-footer>
