

<article class="article primary-color-dark text-white payment-header">
    <h1 class="text-center">MONEY MINE PAYMENT</h1>
</article>
<!-- SideNav slide-out button -->
<app-sidenav></app-sidenav>
<article class="article text-center text-white warning-color-dark " >
  <h4 class="article__title">Credit your Account with our Simple payment Method.</h4>
  <div class="article__content"> We accept online payment with ease.
  </div>
  <img src="../../assets//paymentpic.jfif" alt="">
</article>
<hr>

<!-- ===== paystack  payment ==== -->
<!-- Card -->
<article class="article text-center">
<div class="card mx-xl-5">
    <div class="card">

        <!-- Card body -->
        <div class="card-body primary-color-dark text-white">
          <img src="../../assets/online-payment.png" alt="">
            <!--===== Amount input ======= -->
            <form >

             <h6 class="article__title">Enter amount below.</h6>

            <strong> ₦ </strong>
            <input type="number"   [(ngModel)]="amountInput" name="amount" id="amount"
            class="paymentForm"  autocomplete="off" placeholder="Amount in Naira">



                <div style="widows: 100%; display:flex;  justify-content: center;" (click)="paynow()">
                    <div class="example-button-row">
                    <angular4-paystack
                    [key]="'pk_test_48d818b6e7d0046ad7910fea11857151d80eb63c'"
                    [email]="(currentUserEmail)"
                    [amount]="(amountInput)"
                    [ref]="(refInput)"
                    [channels]="['bank']"
                    [class]="'btn btn-success'"
                    (close)="paymentCancel()"
                    (callback)="paymentDone($event)"
                    >PAY NOW</angular4-paystack>
                    </div>
                    </div>
            </form>
            <!-- Material form register -->

        </div>
        <!-- Card body -->

    </div>
    <!-- Card -->


</div>
</article>
<!-- Card -->
<!-- ====== end payment ======= -->





<article class="transaction text-center  peach-gradient " style=" color: rgb(16, 61, 2);">
  <h6 class="article__title text-center" ></h6>
  <div class="article__content"><small>
     If you have any issues about your transaction , please use our customer help center</small>
  </div>


<div class="text-center">
  <button class="btn" (click)="refreshTable()">
<h6> <strong>Refresh Transaction Table</strong> </h6>
  </button>

<!--Table-->
<div class="table-responsive" >
<table class="table table-striped w-auto">
    <thead>
      <tr>
        <th>#</th>
        <th>Amount</th>
        <th>status</th>
        <th>message</th>
        <th>Ref</th>
        <th>Date</th>
      </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
      <tr class="table-info"  *ngFor="let details of transactionValues; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>₦ {{ details.amount | currency: 'NG' }} </td>
        <td>{{ details.status}}</td>
        <td>{{ details.message  }}</td>
        <td>{{ details.tranxRef   }}</td>
        <td>{{ details.created.toDate()  | date:'medium'}}
          <button style=" margin-left:2px" type="button" class="btn btn-sm btn-danger" (click)="deleteTranx(details.id)">X</button> </td>
      </tr>
    </tbody>
    <!--Table body-->
  </table>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</div>
</article>


<!-- getting items -->
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.amount}} <br> {{item.email}} <br> {{item.created}}
  </li>
</ul>
