<!-- Section: Blog v.3 -->

<app-navbar></app-navbar>

<!-- acount type  -->
<div class="jumbotron card card-image mb-5" style="background-image: url(../../assets/new_pics/background-cement.jpg);">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h2 class="card-title text-dark h1-responsive pt-3 mr-5 mb-5 font-weight-bold">
        <i class="fa fa-boxes fa-lg text-success m-2"></i>ACCOUNT</h2>
      <p class="mx-5 mb-5 text-dark font-weight-bold"> Account opening is free,
         Zero Network marketing and Zero referral for investors.
         Our flexible structure allows us to work with your financial projection and budget.
      </p>
      <a [routerLink]="['/']" class="btn btn-outline-dark btn-md"><i class="fas fa-home left"></i> HOME</a>
    </div>
  </div>
</div>
<!-- end acount type  -->

<section class="my-5">
    <div class="row">
      <div class="col-lg-5 col-xl-4">
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
          <img class="img-fluid" src="../../assets//Importance-of-return-on-investment.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <div class="col-lg-7 col-xl-8">

        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Investor's Account</strong></h3>
        <!-- Excerpt -->
        <p class="dark-grey-text">Deposit a minimum of N100,000, and watch your investment grows</p>
        <!-- Post data -->

        <!-- Read more button -->
        <a routerLink="/about" class="btn btn-brown btn-md">Read more</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
          <img class="img-fluid" src="../../assets//marketing.png" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">

        <!-- Post title -->
        <h3 class="font-weight-bold mb-3"><strong>Marketing Account</strong></h3>
        <!-- Excerpt -->
        <p class="dark-grey-text">A free account , your earning is directly proportional
          to the investors you invite to the platform. Marketing agents receive a standard commission of 1% of the investors Return on investment monthly.
        </p>
        <!-- Post data -->
        <!-- Read more button -->
        <a routerLink="/about" class="btn btn-brown btn-md">Read more</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-5">

  </section>
  <!-- Section: Blog v.3 -->
<app-footer></app-footer>
