
<div  role="group" aria-label="Basic example ">
  <a [routerLink]="['/admin/dashboard']"  class="btn purple-gradient btn-rounded text-white">Accounts</a>
  <a [routerLink]="['/admin/manage-users']" class="btn purple-gradient btn-rounded text-white">Manage Users</a>
  <a [routerLink]="['/admin/settings']"  class="btn purple-gradient  btn-rounded text-white">Settings</a>
  <a [routerLink]="['/admin/notification']"  class="btn  purple-gradient btn-rounded text-white">Notifications</a>
  <a [routerLink]="['/admin/transaction']"  class="btn purple-gradient btn-rounded text-white">Transactions</a>
</div>

<ngb-tabset [justify]="currentJustify" >
    <ngb-tab>
      <!-- tab one -->
        <ng-template ngbTabTitle><b>manage account</b></ng-template>
        <ng-template ngbTabContent>

    <div class="list-group">
        <li  class="list-group-item list-group-item-action active">
          <b>Admin dashboard</b>
        </li>
        <li  class="list-group-item list-group-item-action bg-danger text-white">
            <b> current market status :  good </b>
          </li>
        <li  class="list-group-item list-group-item-action"> Total deposit ; 100000</li>
        <li  class="list-group-item list-group-item-action"> Tradding: 120000</li>
        <li  class="list-group-item list-group-item-action"> Investment date : 2/1/2019</li>
        <li  class="list-group-item list-group-item-action"> Investment count : 3 month</li>

      </div>
        </ng-template>
      </ngb-tab>

</ngb-tabset>



