<ngb-tabset [justify]="currentJustify" >
    <ngb-tab>
      <!-- tab one -->
        <ng-template ngbTabTitle><b>manage account</b></ng-template>
        <ng-template ngbTabContent>

    <div class="list-group">
        <li  class="list-group-item list-group-item-action active">
          <b>Admin dashboard</b>
        </li>
        <li  class="list-group-item list-group-item-action bg-danger text-white">
            <b> current market status :  good </b>
          </li>
        <li  class="list-group-item list-group-item-action"> Total deposit ; 100000</li>
        <li  class="list-group-item list-group-item-action"> Tradding: 120000</li>
        <li  class="list-group-item list-group-item-action"> Investment date : 2/1/2019</li>
        <li  class="list-group-item list-group-item-action"> Investment count : 3 month</li>

      </div>
        </ng-template>
      </ngb-tab>
      <!-- tab two -->
  <ngb-tab>
    <ng-template ngbTabTitle><b>manage users</b></ng-template>

  </ngb-tab>
  <!-- tab three -->
  <ngb-tab>
      <ng-template ngbTabTitle><b> settings</b></ng-template>
      <ng-template ngbTabContent>


      </ng-template>
    </ngb-tab>
        <!-- tab four -->
  <ngb-tab>
      <ng-template ngbTabTitle><b>notifications</b></ng-template>

    </ngb-tab>
        <!-- tab five -->
  <ngb-tab>
     <ng-template ngbTabTitle><b> <a routerLink="/admin/transaction">manage transactions</a></b></ng-template>

    </ngb-tab>
</ngb-tabset>



