

/* material design */
/* material atyle */
.example-container {
  display: flex;
  flex-direction: column;
}
.example-container > * {
  width: 100%;
}
.main-login{

}

input.ng-touched.ng-invalid{
border-color: rgb(241, 17, 17);
}
.validation-error{
  width: 100%;
  margin-top: 0;
  font-size: 80%;
  color: #dc3545;
}
.member{
  background-color: rgba(240, 200, 22, 0.89);
  color: black;
}
.investor{
  background-color: rgb(235, 194, 15);
  color: black;

}
.custom-select{
  background-color: rgb(74, 15, 235);
  color: rgb(253, 252, 252);

}
.input-group-text{
  background-color: rgb(253, 34, 217);
  color: rgb(253, 252, 252);
  border-radius: 7px;
}
.input-check-box{
  background-color: rgb(245, 248, 52);
  color: rgb(231, 10, 10);
  border-radius: 7px;
}
