

<form #regform="ngForm" (submit)="createNewUser(regform)">
  <div class="simple-login-container jumbotron  text-white">
    <h2> Create Account</h2>

    <div class="row">
        <div class="col-md-12 form-group">
    <select (change)="selectOption()" class="custom-select" name="inputGroupSelect" id="inputGroupSelect" required>
      <option  class="member" value="member">MARKETER</option>
      <option selected class="investor" value="investor">INVESTOR</option>
    </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
    <small *ngIf="email.invalid && email.touched;" class="validation-error bg-danger text-white">email is required</small>
    <input type="email" id="email" name="email" [(ngModel)]="authService.formData.email" #email="ngModel" required
    class="form-control mb-4" placeholder="E-mail"  autocomplete="off">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
        <div *ngIf="fullname.invalid && fullname.touched;" class="validation-error bg-danger text-white">lastname is required</div>
        <input type="text" id="lastname" [(ngModel)]="authService.formData.fullname" #fullname="ngModel" required
          class="form-control mb-4" placeholder="Fullname" name="fullname">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
        <div *ngIf="mobile.invalid && mobile.touched;" class="validation-error  bg-danger text-white">field is required</div>
        <input type="number" id="number" [(ngModel)]="authService.formData.mobile" #mobile="ngModel" required
          class="form-control mb-4" placeholder="Number" name="number">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
    <input type="password" id="password" [(ngModel)]="authService.formData.password"  #password="ngModel"
    class="form-control mb-4" placeholder="Password" name="password" value="" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <small *ngIf="password.value !== password_conf.value;"
            class="validation-error bg-danger text-white">password not match</small>
            <input type="password" id="defaultLoginFormPassword"  name="password_conf" value="" id="password_conf"
            class="form-control mb-4" placeholder="Confirm Password" (change)="confirmInputPassword()" #password_conf required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 form-group">
            <div class="input-check-box">
                <input type="checkbox" name="moneyminePolicy"
                [(ngModel)]="moneyminePolicy" aria-label="Checkbox for following text input">
                <small>I agree to <strong>Money mine</strong>
                 <a [routerLink]="['/policy']"  ><strong>  Privacy Policy.</strong></a> by creating this account. </small>
              </div>
        </div>
    </div>
      <!-- flash msg -->
      <div class="container row justify-centent-center">
        <div class="flash">
          <flash-messages></flash-messages>
        </div>
      </div>
    <div class="row">
        <div class="col-md-12 form-group">
    <button class="btn btn-success btn-block "  [disabled]="(!moneyminePolicy.checked && !regform.valid
      && password != password_conf)"
    id="submitBtn" type="submit"> <i class="fa fa-spinner  fa-spin" *ngIf=loading ></i>
   <small *ngIf="!loading" > Create Account</small> </button>
        </div>
    </div>

    <p> alredy a member ?
      <a routerLink="/login">login</a>
    </p>

    <div class="row">
        <div class="col-md-12">
          <a [routerLink]="['/']" >home</a>
        </div>
    </div>
</div>

</form>

<app-footer></app-footer>
